/* ------------------------------------------------------------ *\
	blog
\* ------------------------------------------------------------ */

.blog {

	a {
		font-weight: 400;
		text-decoration: none;
	}

	.blog__image {
		margin-bottom: 17px;
	}

	.blog__image img {
		border-radius: 12px;
	}

	.blog__title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 11px;
	}

	.blog__title strong {

	}

	.blog__title img {
		margin-right: 2px;
		border-radius: 50%;
	}

	.blog__title span {
		color: #808080;
		font-size: 1.6em;
		font-weight: 400;

		@include breakpoint-down(mobile) {
			font-size: 1.4rem;
		}
	}

	.blog__content p {
		color: #808080;
		line-height: 1.6;
		font-size: 1.6rem;

		@include breakpoint-down(mobile) {
			font-size: 1.4rem;
		}
	}

	.blog__content {

		@include breakpoint-down(tablet) {
			max-width: 420px;
		}
	}

	.blog__content h3 {
		font-weight: 500;
		margin-bottom: 12px;
		letter-spacing: -0.02em;
		color: $c-black;
		line-height: 1;
	}
}

.blog--alt {

	.blog__image {
		margin-bottom: 12px;

		@include breakpoint-down(mobile) {
			margin-bottom: 8px;
		}
	}

	.blog__content {

		@include breakpoint-down(mobile) {
			padding: 0 10px 0 20px;
			font-size: 1.45rem;
			line-height: 1.4;
		}
	}

	.blog__title {
		align-items: center;
		margin-bottom: 26px;

		@include breakpoint-down(mobile) {
			display: block;
			margin-bottom: 12px;
		}
	}

	strong span {
		vertical-align: middle;
		margin: 0 5px;
	}
}
