/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
}

/*  Btn block  */

.btn--block {
	display: block;
	padding-left: 0;
	padding-right: 0;
}

.btn--green {
	background-color: $c-green;
	color: $c-black;
	padding: 8px 18px;
	font-weight: 400;
	border: 2px solid $c-green;
	border-radius: 5px;
	font-size: 1.6rem;
	transition: background .4s, color .4s;
}

.btn--green:hover {
	color: $c-green;
	background-color: $c-black;
}

.btn--transparent {
	border: 1px solid $c-white;
	color: $c-white;
	background: transparent;
	font-weight: 400;
	font-size: 1.6rem;
	padding: 9px 20px;
	border-radius: 5px;
	transition: background .4s, color .4s, border .4s;
}

.btn--transparent:hover {
	background-color: $c-green;
	border: 1px solid $c-green;
	color: $c-black;
}

.btn--large {
	font-size: 2rem;
	padding: 11px 14px;
}

.btn--larger {
	padding: 13px 12px;
}
