/* ------------------------------------------------------------ *\
	choices
\* ------------------------------------------------------------ */

.choices {
	display: inline-block;
	position: relative;


	.choices__inner {
		border: none;
		background: none;
		margin-left: -7px;
	}

	.choices__input {
		display: none;
	}

	.choices__item--selectable {
		white-space: nowrap;
	}

	.choices__item:after {
		display: none;
	}

	&:after {
		display: none;
	}

	&:before {
		content: '';
		height: 18px;
		width: 18px;
		position: absolute;
		top: 2px;
		left: 18px;
		background-image: url('../images/svg/angle-down.svg');
		background-size: cover;
	}

	.choices__list {
		font-size: 1.6rem;
		overflow: hidden;
		border-radius: 5px;
		overflow-y: auto;
		max-height: unset;
	}

	.choices__inner .choices__list {
		margin-top: -12px;

	}

	.choices__list {
		padding-top: 6px;
		width: 56px;
		max-width: unset;
	}

	.choices__list--dropdown {
		margin-top: 7px;
		left: -25px;
		box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
	}

	.choices__list--dropdown .choices__item {
		font-size: 1.8rem;
	}

	.choices__list--dropdown .choices__item--selectable {
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
}

