/* ------------------------------------------------------------ *\
	datepicker
\* ------------------------------------------------------------ */

.datepicker {

	.datepicker-header {
		position: relative;
		margin-bottom: 20px;

		@include breakpoint-down(mobile) {
			margin-bottom: 26px;
		}
	}

	.datepicker-header .view-switch {
		font-size: 1.4rem !important;
		font-weight: 500;
		letter-spacing: -0.02em;
		background: none;
		border: none;
	}

	.datepicker-cell {
		color: #808080;
		display: block;
		position: relative;
		height: 29px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}

	.datepicker-cell.selected {
		color: $c-white;
		position: relative;
		background-color: $c-dark-green;

		&:before {
			display: block;
		}
	}

	.days {
		padding-left: 3px;
	}

	.days span {
		font-size: 1rem !important;
	}

	.datepicker-header .prev-btn,
	.datepicker-header .next-btn {
		border: none;
		background: none;
		height: 12px;
		width: 12px;
		font-size: 1.5rem;
		position: absolute;
		top: 0;
		right: 0;
	}

	.days-of-week {
		font-weight: 500;
		margin-bottom: 15px;
		text-align: center;

		@include breakpoint-down(mobile) {
			margin-bottom: 22px;
		}
	}

	.datepicker-header .prev-btn img,
	.datepicker-header .next-btn img {
		width: 12px;
		height: 12px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-90deg);
	}

	.datepicker-header .next-btn {
		right: 5px;
	}

	.datepicker-header .prev-btn {
		right: 12px;
	}

	.datepicker-header .prev-btn img {
		transform: translate(-50%, -50%) rotate(90deg);
	}

	.days-of-week {
		display: flex;
	}

	.days-of-week span {
		max-width: 14.28%;
		flex: 0 0 14.28%;
	}

	.datepicker-grid {
		display: flex;
		flex-wrap: wrap;
	}

	.datepicker-grid span {
		max-width: 14.28%;
		flex: 0 0 14.28%;
		font-size: 1rem !important;

		@include breakpoint-down(mobile) {
			font-size: 1.3rem !important;
			font-weight: 450;
		}
	}
}

.datepicker.active {
	display: block;
}
