/* ------------------------------------------------------------ *\
	datepicker
\* ------------------------------------------------------------ */

.datepicker {
	width: 242px;
	padding: 28px 17px 28px 31px;
	background-color: $c-white;
	border-radius: 5px;
	position: absolute;
	z-index: 50;
	margin: 32px 0 0 -76px;
	display: none;
	box-shadow: 0 4px 4px rgba(0, 0, 0, .25);

	.datepicker-header {
		position: relative;
		margin-bottom: 20px;
	}

	.datepicker-header .view-switch {
		font-size: 1.4rem;
		font-weight: 500;
		letter-spacing: -0.02em;
		background: none;
		border: none;
	}

	.datepicker-cell {
		margin-bottom: 14px;
		color: #808080;
		display: block;
		position: relative;
	}
	.datepicker-cell:before {
		content: '';
		height: 24px;
		width: 24px;
		border-radius: 50%;
		position: absolute;
		top: -6px;
		left: -7px;
		background-color: $c-dark-green;
		display: none;
		z-index: -1;
	}

	.datepicker-cell.selected {
		color: $c-white;
		position: relative;

		&:before {
			display: block;
		}
	}

	.datepicker-header .prev-btn,
	.datepicker-header .next-btn {
		border: none;
		background: none;
		height: 12px;
		width: 12px;
		font-size: 1.5rem;
		position: absolute;
		top: 0;
		right: 0;
	}

	.days-of-week {
		font-weight: 500;
		margin-bottom: 15px;
	}

	.datepicker-header .prev-btn img,
	.datepicker-header .next-btn img {
		width: 12px;
		height: 12px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-90deg);
	}

	.datepicker-header .next-btn {
		right: 10px;
	}

	.datepicker-header .prev-btn {
		right: 24px;
	}

	.datepicker-header .prev-btn img {
		transform: translate(-50%, -50%) rotate(90deg);
	}

	.days-of-week {
		display: flex;
	}

	.days-of-week span {
		max-width: 14.28%;
		flex: 0 0 14.28%;
	}

	.datepicker-grid {
		display: flex;
		flex-wrap: wrap;
	}

	.datepicker-grid span {
		max-width: 14.28%;
		flex: 0 0 14.28%;
		font-size: 1rem;
	}
}

.datepicker.active {
	display: block;
}
