/* ------------------------------------------------------------ *\
	field-location
\* ------------------------------------------------------------ */

.field-location {
	border: none;
	font-size: 1.6rem;
	padding-left: 2px;
	position: relative;
	width: 185px;
}

.field-location--alt {
	width: 160px
}
