/* ------------------------------------------------------------ *\
	field-coutner
\* ------------------------------------------------------------ */

.field-coutner {
	font-size: 1.6rem;
	border: none;
	width: 13px;
	margin: 0 8px;
}
