/* ------------------------------------------------------------ *\
	field-calendar
\* ------------------------------------------------------------ */

.field-calendar {
	border: none;
	font-size: 1.6rem;
	padding-left: 2px;
	position: relative;
	width: 89px;
	vertical-align: middle;
}
