/* ------------------------------------------------------------ *\
	field-time
\* ------------------------------------------------------------ */

.field-time {
	font-size: 1.6rem;
	font-weight: 400;
	border: none;
	width: 38px;
	vertical-align: middle;
}
