/* ------------------------------------------------------------ *\
	field-luggage
\* ------------------------------------------------------------ */

.field-luggage {
	width: 60px;
	border: none;
	font-size: 1.6rem;
	vertical-align: middle;
}
