/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	position: absolute;
	padding: 35px 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;

	@include breakpoint-down(mobile) {
		padding: 48px 7px;
	}

	.header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header__content {
		display: flex;
		align-items: center;

		@include breakpoint-down(mobile) {
			text-align: center;
			position: absolute;
			flex-direction: column;
			justify-content: center;
			height: 100vh;
			right: 0;
			top: 0;
			left: 0;
			background: rgba(5, 50, 37, .5);
			transform: translateY(-100%);
			transition: transform .6s;
		}
	}

	.header__content.is-active {
		transform: translateY(0);
	}

	.header__nav {
		margin: 0 20px;
	}

	.header__actions {
		margin-right: 24px;

		@include breakpoint-down(mobile) {
			margin: 26px 0 0;
		}
	}

	.header__logo {

		@include breakpoint-down(mobile) {
			max-width: 170px;
		}
	}
}

.header--alt {
	padding: 34px 0;

	.header__logo {
		margin-bottom: 0;
	}

	.header__actions {
		margin-right: 34px;
	}
}
