/* ------------------------------------------------------------ *\
	hero
\* ------------------------------------------------------------ */

.hero {
	min-height: 700px;
	background-size: cover;
	background-position: center;
	padding-top: 217px;
	position: relative;

	@include breakpoint-down(tablet) {
		padding: 148px 0 83px;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(5, 50, 37, .5);
	}

	.hero__entry {
		text-align: center;
		color: $c-white;
		position: relative;
		z-index: 2;
		margin-bottom: 107px;

		@include breakpoint-down(mobile) {
			margin-bottom: 45px;
		}
	}

	.hero__entry p {
		font-size: 2rem;
		font-weight: 400;

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
		}
	}

	h1 {
		font-weight: 500;
		letter-spacing: -0.02em;
		margin-bottom: 7px;

		@include breakpoint-down(mobile) {
			line-height: 1;
			margin-bottom: 22px;
		}
	}

	.hero__inner {
		position: relative;
		z-index: 2;
	}
}

.hero--simple {
	min-height: 500px;

	h1 {
		text-align: center;
		color: $c-white;
		position: relative;
		z-index: 2;
	}
}
