/* ------------------------------------------------------------ *\
	hero-simple
\* ------------------------------------------------------------ */

.hero-simple {
	height: 290px;
	background-color: $c-dark-green;
	padding: 51px 0;

	@include breakpoint-down(mobile) {
		height: 200px;
		padding: 24px 0;
	}

	.hero__shell {
		height: 100%;
	}

	.hero__inner {
		padding: 0 9px;
		height: 100%;
		display: flex;
		align-items: flex-end;
	}

	h3 {
		letter-spacing: -0.02em;
		color: $c-white;
		font-weight: 500;
	}
}
