/* ------------------------------------------------------------ *\
	hours
\* ------------------------------------------------------------ */

.hours {
	margin-top: 10px;

	select::-ms-expand {
		display: none;
	}

	.hours__select {
		color: #333333;
		font-size: 1.6rem;
		font-weight: 400;
		border: none;
		appearance: none;
		padding: 0 3px;

		@include breakpoint-down(mobile) {
			font-size: 2rem;
		}
	}

	.hours__label {
		font-size: 1.4rem;
		color: #666666;
		font-weight: 400;
		height: unset !important;
		width: unset !important;

		@include breakpoint-down(mobile) {
			font-size: 1.8rem;
		}
	}
}
