/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav {

	ul {
		display: flex;

		@include breakpoint-down(mobile) {
			display: block;
		}
	}

	li {
		list-style: none;
	}

	li + li {
		margin-left: 21px;

		@include breakpoint-down(mobile) {
			margin: 24px 0 0;
		}
	}

	a {
		text-decoration: none;
		font-weight: 450;
		font-size: 1.8rem;
		color: $c-white;
		transition: color .4s;

		@include breakpoint-down(mobile) {
			font-size: 2rem;
		}
	}

	a:hover {
		color: $c-green;
	}
}
