/* ------------------------------------------------------------ *\
	navigation
\* ------------------------------------------------------------ */

.navigation {

	ul {
 		display: flex;
		justify-content: center;

		@include breakpoint-down(mobile) {
			overflow-x: scroll;
			justify-content: unset;
		}
	}

	li {
		list-style: none;

		@include breakpoint-down(mobile) {
			white-space: nowrap;
		}
	}

	li + li {
		margin-left: 22px;

		@include breakpoint-down(mobile) {
			margin: 0 0 10px;
		}
	}

	a {
		color: $c-white;
		text-decoration: none;
		font-size: 1.8rem;
		font-weight: 400;
		display: block;
		padding: 13px 15px;
		transition: opacity .4s;
	}

	a:hover {
		opacity: .6;
	}

	.is-active a {
		background-color: $c-green;
		border-radius: 25px;
		color: $c-black;

		@include breakpoint-down(mobile) {
			display: inline-block;
		}
	}
}
