/* ------------------------------------------------------------ *\
	search
\* ------------------------------------------------------------ */

.search {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 71px;
	background-color: $c-green;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;

	@include breakpoint-down(small-desktop) {
		width: 50px;
	}

	@include breakpoint-down(tablet) {
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 7px;
		border-bottom-left-radius: 7px;
	}

	input {
		display: none;

		@include breakpoint-down(tablet) {
			display: block;
			width: 100%;
			border: none;
			font-size: 1.6rem;
			text-align: center;
			height: 50px;
			background-color: $c-green;
			border-bottom-right-radius: 7px;
			border-bottom-left-radius: 7px;
		}
	}

	@include breakpoint-down(tablet) {
		position: relative;
	}

	&:hover button img {
		opacity: .7;
	}

	button {
		border: none;
		background: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		width: 100%;

		@include breakpoint-down(tablet) {
			display: none;
		}
	}

	button img {
		transition: opacity .4s;
	}
}
