/* ------------------------------------------------------------ *\
	section-newsletter
\* ------------------------------------------------------------ */

.section-newsletter {
	background-size: cover;
	background-position: center;
	padding: 41px 0 0;
	position: relative;

	@include breakpoint-down(mobile) {
		padding: 32px 0 180px;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $c-dark-green;
		opacity: .8;
	}

	.section__inner {
		position: relative;
		z-index: 2;
		padding-bottom: 97px;
	}

	.section__icon {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
	}

	.section__icon-alt {
		position: absolute;
		bottom: 100%;
		left: 0;
		z-index: -1;
	}

	.section__content {
		max-width: 825px;
		margin: 0 auto;
		text-align: center;
		color: $c-white;
		font-size: 2rem;

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
			line-height: 1.6;
		}
	}

	h3 {
		color: $c-white;
		font-weight: 500;
		letter-spacing: -0.02em;
		margin-bottom: 34px;

		@include breakpoint-down(mobile) {
			margin-bottom: 32px;
		}
	}

	h3 span {
		color: $c-green;
	}

	p {
		margin-bottom: 50px;

		@include breakpoint-down(mobile) {
			margin-bottom: 37px;
		}
	}

	a {
		margin: 0 2px;

		@include breakpoint-down(mobile) {
			display: block;
			max-width: 142px;
			margin: 0 auto 11px;
		}
	}

	.section__actions {
	}
}
