/* ------------------------------------------------------------ *\
	section-content
\* ------------------------------------------------------------ */

.section-content {
	position: relative;

	@include breakpoint-down(large-desktop) {
		padding-bottom: 125px;
	}

	.section__inner {
		padding: 38px 72px 0 0;

		@include breakpoint-down(tablet) {
			padding: 10px 0 0;
			max-width: 670px;
			padding-bottom: 30px;
		}

		@include breakpoint-down(mobile) {
			padding: 35px 0 50px 10px;
		}
	}

	.section__grid {
		padding-bottom: 76px;

		@include breakpoint-down(tablet) {
			flex-wrap: wrap;
		}
	}

	.section__col {

		@include breakpoint-down(tablet) {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	.section__image {
		border-radius: 5px;
		overflow: hidden;

		@include breakpoint-down(mobile) {
			padding: 0 10px;
			margin-bottom: 50px;
		}
	}

	h3 {
		font-size: 4.5rem;
		font-weight: 500;
		color: $c-white;
		background-size: cover;
		padding: 28px 20px 24px 26px;
		border-radius: 5px;
		margin-bottom: 34px;
		background-color: $c-dark-green;
		position: relative;

		@include breakpoint-down(mobile) {
			font-size: 2.4rem;
			max-width: 325px;
			padding: 16px 5px 14px 14px;
			letter-spacing: -0.02em;
			margin-bottom: 23px;
		}
	}

	h3:after {
		content: '';
		width: 0;
		height: 0;
		border-left: 0px solid transparent;
		border-right: 600px solid transparent;
		border-top: 15px solid $c-white;
		position: absolute;
		top: 0;
		left: 0;
	}

	h3:before {
		content: '';
		width: 0;
		height: 0;
		border-top: 0px solid transparent;
		border-bottom: 200px solid transparent;
		border-left: 20px solid $c-white;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	h3 {
		font-size: 4.5rem;
		font-weight: 500;
		color: $c-white;
		background-size: cover;
		padding: 28px 20px 24px 26px;
		border-radius: 5px;
		margin-bottom: 34px;

	}

	h3 span {
		color: $c-green;
	}

	.section__content {
		font-size: 2rem;
		padding: 0 25px;

		@include breakpoint-down(tablet) {
			padding: 0;
		}

		@include breakpoint-down(mobile) {
			font-size: 1.6rem;
			padding: 0 10px;
		}
	}
}
