/* ------------------------------------------------------------ *\
	section-video
\* ------------------------------------------------------------ */

.section-video {
	padding: 48px 0;
	position: relative;

	@include breakpoint-down(tablet) {
		padding: 150px 0 194px;
	}

	.section__inner {

		@include breakpoint-down(mobile) {
			padding: 0 10px;
		}
	}

	.section__icon {
		position: absolute;
		z-index: -1;

		@include breakpoint-down(mobile) {
			max-width: 260px;
		}
	}

	.section__icon--top {
		top: 0;
		left: 0;
	}

	.section__icon--bottom {
		bottom: 0;
		right: 0;
	}

	h3 {
		text-align: center;
		letter-spacing: -0.02em;
		font-weight: 500;
		background-size: cover;
    	padding: 34px 20px 29px 5px;
    	color: $c-white;
    	max-width: 560px;
    	margin: 0 auto 48px;
    	border-radius: 5px;

    	@include breakpoint-down(mobile) {
    		padding: 22px 12px 14px 14px;
    		line-height: 1;
    	}

    	@include breakpoint-down(mobile-medium) {
    		text-align: left;
    	}
	}

	h3 span {
		color: $c-green;
	}

	.section__media {
		max-width: 630px;
		margin: 0 auto 47px;
		position: relative;

		@include breakpoint-down(mobile-medium) {
			max-width: 271px;
			margin-bottom: 46px;
		}
	}

	.section__media img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
	}

	.section__media.is-active img {
		display: none;
	}

	.section__media.is-active:after {
		display: none;
	}

	.section__media:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $c-dark-green;
		opacity: .2;
		z-index: 4;
	}

	.section__play-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 80px;
		width: 80px;
		border-radius: 50%;
		background-color: $c-dark-green;
		z-index: 5;
		cursor: pointer;

		@include breakpoint-down(mobile-medium) {
			height: 60px;
			width: 60px;
		}
	}

	.section__play-btn img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
	}

	.section__play-btn.is-hidden {
		display: none;
	}


	.section__media video {
		border-radius: 5px;
		width: 100%;
	}

	.section__content {
		font-size: 2rem;
		text-align: center;

		@include breakpoint-down(mobile) {
			font-size: 1.8rem;
			max-width: 260px;
			margin: 0 auto;
		}
	}
}
