/* ------------------------------------------------------------ *\
	section-error
\* ------------------------------------------------------------ */

.section-error {
	height: 100vh;
	width: 100vw;
	padding: 48px 0;
	background-size: cover;
	background-position: center;
	position: relative;

	@include breakpoint-down(mobile) {
		padding: 20px 0;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: $c-dark-green;
		opacity: .7;
	}

	.section__inner {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		align-items: center;
		height: 100%;
	}

	.section__content {
		max-width: 500px;
		margin: 0 auto 62px;
		color: $c-white;
		line-height: 1.19;
		font-size: 1.6rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 20px;
			font-size: 1.4rem;
		}
	}

	span {
		font-size: 20rem;
		font-weight: 500;
		line-height: 1;
		margin-bottom: 2px;

		@include breakpoint-down(mobile) {
			font-size: 14rem;
		}
	}

	p {
		margin-bottom: 50px;

		@include breakpoint-down(mobile) {
			margin-bottom: 20px;
		}
	}

	.section__actions a {
		margin: 0 5px;
	}

}
