/* ------------------------------------------------------------ *\
	section-content
\* ------------------------------------------------------------ */

.section-content {
	position: relative;

	.section__inner {
		padding: 38px 72px 0 0;
	}

	.section__grid {
		padding-bottom: 76px;
	}

	.section__image {
		border-radius: 5px;
		overflow: hidden;
	}

	h3 {
		font-size: 4.5rem;
		font-weight: 500;
		color: $c-white;
		background-size: cover;
		padding: 28px 20px 24px 26px;
		border-radius: 5px;
		margin-bottom: 34px;
	}

	h3 span {
		color: $c-green;
	}

	.section__content {
		font-size: 2rem;
		padding: 0 25px;
	}

	.section__icon {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
