<footer class="footer">
	<div class="shell shell--large">
		<h3>Let’s build better environment together</h3>

		<div class="footer__inner">
			<div class="footer__nav">
				<div class="grid footer__grid">
					<div class="grid__col grid__col--1of3 footer__col">
						<div class="footer-nav">
							<h5>General</h5>

							<ul>
								<li>
									<a href="#">About us</a>
								</li>

								<li>
									<a href="#">Your safety</a>
								</li>

								<li>
									<a href="#">Our Mission</a>
								</li>

								<li>
									<a href="#">How it works</a>
								</li>
							</ul>
						</div><!-- /.footer-nav -->
					</div><!-- /.grid__col grid__col-/-1of3 footer__col -->

					<div class="grid__col grid__col--1of3 footer__col">
						<div class="footer-nav">
							<h5>Legal</h5>

							<ul>
								<li>
									<a href="#">Terms</a>
								</li>

								<li>
									<a href="#">Privacy</a>
								</li>

								<li>
									<a href="#">Cookies</a>
								</li>

								<li>
									<a href="#">Other</a>
								</li>
							</ul>
						</div><!-- /.footer-nav -->
					</div><!-- /.grid__col grid__col-/-1of3 footer__col -->

					<div class="grid__col grid__col--1of3 footer__col">
						<div class="footer-nav">
							<h5>Press</h5>

							<ul>
								<li>
									<a href="#">Blog</a>
								</li>

								<li>
									<a href="#">Latest News</a>
								</li>

								<li>
									<a href="#">Media Assets</a>
								</li>

								<li>
									<a href="#">Contact Greentaxi</a>
								</li>
							</ul>
						</div><!-- /.footer-nav -->
					</div><!-- /.grid__col grid__col-/-1of3 footer__col -->
				</div><!-- /.grid footer__grid -->

				<div class="footer__bar">
					<div class="subscribe-alt">
						<form action="" method="post">
							<label for="mail2" class="hidden"></label>

							<input type="text" class="subscribe__field" id="mail2" placeholder="What’s your email?" />

							<input type="submit" value="Signup for newsletter" class="subscribe__btn" />

							<div class="subscribe__meta">
								<span>No spam. Our Promise</span>
							</div><!-- /.subscribe__meta -->
						</form>
					</div><!-- /.subscribe -->
				</div><!-- /.footer__bar -->
			</div><!-- /.footer__nav -->

			<div class="footer__entry">
				<div class="footer__content">
					<div class="logo footer__logo">
						<img src="assets/images/logo-dark-green.svg" alt="">
					</div><!-- /.logo footer__logo -->

					<p> Greentaxi is registered in England and Wales as Greentaxi Technologies Ltd (Company No. 13164228) with offices at 1-4 Cumberland Place, Southampton, England, SO15 2NP</p>
				</div><!-- /.footer__content -->
			</div><!-- /.footer__entry -->
		</div><!-- /.footer__inner -->

	</div><!-- /.shell shell-/-large -->
</footer><!-- /.footer -->
